/* src/components/ProductCard/ProductCard.module.css */

.productCard {
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 8px;
  padding: 1rem;
  text-align: center;
}

.imageLink {
  display: block;
  margin: 0 auto;
}

.productImage {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.productDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.productName {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.productPrice {
  font-size: 1.1rem;
  color: var(--primary-color);
  margin-bottom: 0.5rem;
  text-align: center;
}

.priceContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.originalPrice {
  color: #888;
  font-size: 1rem;
  text-align: center;
}

.arrow {
  font-size: 1.2rem;
  color: #333;
  text-align: center;
}

.discountedPrice {
  color: var(--primary-color);
  font-size: 1.1rem;
  font-weight: bold;
  text-align: center;
}

.viewDetailsBtn {
  background-color: var(--primary-color);
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  text-decoration: none;
  font-size: 0.9rem;
  margin-top: 0.5rem;
  transition: background-color 0.3s ease;
}

.viewDetailsBtn:hover {
  background-color: var(--primary-color-dark);
}
