/* src/components/ProductCard/ProductCard.module.css */

/* Product card styling */
.productCard {
  background-color: var(--secondary-color); /* White background */
  border: 1px solid var(--border-color);
  border-radius: 8px;
  padding: 1rem;
  text-align: center;
  color: var(--primary-color); /* Black text */
  max-width: 300px;
  margin: 0.75rem;
}

.imageLink {
  display: block;
  margin: 0 auto;
}

.productImage {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.productDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.productName {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.productPrice {
  font-size: 1.1rem;
  color: var(--primary-color);
  margin-bottom: 0.5rem;
  text-align: center;
}

.priceContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.originalPrice {
  color: var(--border-color);
  font-size: 1rem;
  text-align: center;
  text-decoration: line-through;
}

.arrow {
  font-size: 1.2rem;
  color: var(--primary-color);
  text-align: center;
}

.discountedPrice {
  color: var(--primary-color);
  font-weight: bold;
  font-size: 1.1rem;
  text-align: center;
}

.viewDetailsBtn {
  background-color: var(--btn-bg);  /* Black */
  color: var(--btn-text);             /* White */
  padding: 0.5rem 1rem;
  border-radius: 4px;
  text-decoration: none;
  font-size: 0.9rem;
  margin-top: 0.5rem;
  transition: background-color 0.3s ease;
}

.viewDetailsBtn:hover {
  color: var(--accent-color);
}
